body{
    background: black;
    color: gold;
}
h1{
    background-color:;
    color: gold;
    font-size: 30px;
    text-align: center;}
    img{
        width: 200px;
        height: 200px;
        border-radius: 100%;
        border: solid rgb(50;100;211);
        display: auto;
        margin: auto;

    }
    h3{
        background:  black;
        color: gold;
    }
    p{
        background: black;
        color: gold;
    }
    table{
        color: blue;
        background: yellow;
        border: red solid;
    }
    th{
        border: red solid;
    }
    td{
        border: red solid;
    }
    ul{
        background: blue;
    }
    ol{
        background: red;
    }
    form{
        width: 50%;
        border: 2px solid rgb(0;240;228)
        margin: 20px;
        padding: 15px;
    }
label{
    font-size: 12px;
    display:block;
    color:red;
}
input{
    margin-bottom: 25px;
    width: 99%;
}
textarea{
    display:block; 
    margin-bottom:25px;
    width:99%;
}
button{
    width: 99%;
}