body{
	background: turquoise;
}
h1{
	color:blue;
}
p{
	color: black;
	font-family: "Verdana";
}
h2{
	color:red;
}
table{
	border: white solid;
	font-family: "Verdana";
	
}
th{
	border: white solid;
	background: red;
}
td{
	border:white solid;
	background: yellow;
	text-align: center;
}
.uno-dos{
	float: right;
	width: 400px;
}
form{
	width: 50%; 
	border:2px solid gold;
	margin:20px;
	padding:15px;
	color: white;
}
label{
	font-size: 12px;
	display: block;
	color: red;
}
input{
	margin-bottom: 25px;
	width: 99%;
}
textarea{
	display: block;
	margin-bottom: 25px;
	width: 99%;
}
button{
	width: 99%;
}
img{
	margin: auto;
	display: block;
}